.photos-landing {
  height: 25vmin;
  border-radius: 50%;
  padding: 5px;
  border: 3px dotted #25594a;
  margin: 2px;
}
.container {
  width: 100vw;
  height: 75vw;
  text-align: center;
  margin-top: 30px;
}
.landing-title {
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 5em;
  margin: 0;
  color: #25594a;
}
