.catalogo_nav {
  text-align: left;
  margin-left: 30px;
  border-bottom: 2px dotted #25594a;
  color: #25594a;
  display: flex;
  align-content: space-between;
  align-items: baseline;
}

.catalogo_nav li {
  color: #fff;
  font-weight: 600;
  list-style-type: none;
  float: left;
  margin-left: 30px;
}
