.counter-date {
  background-color: #c2d7f2;
  display: flex;
  margin-top: 10px;
  padding: 2px;
  width: 94%;
}
.counter-date button {
  width: 40px;
  height: 40px;
  font-size: 2em;
  background-color: #f2a2a2;
  border: none;
  border-radius: 5px;
}
.counter-date p {
  margin: auto;
  font-size: 16px;
}
.data-date {
  display: inline;
  font-size: 10px;
}
