.topbar {
  background-color: #000;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 30px;
}
.topbar p {
  margin: 0;
  padding: 6px 10px;
  color: aliceblue;
  font-size: 0.8em;
  font-weight: 600;
}
.logobox {
  background-color: #fff;
  display: flex;
  align-items: center;

  width: 100vw;
}

.logo-draw {
  width: 300px;
  height: 120px;
  margin-right: 120px;
}
.logo {
  font-size: 4em;
  margin: 20px 120px 20px 30px;
  font-family: 'Zen Kurenaido', sans-serif;
  color: #307354;
}
.subtitle {
  font-size: 0.8em;
  width: 30%;
}
.cart-icon {
  height: 5vmin;
  color: #73304c;
  width: 80px;
}
.item-q {
  background-color: #e4819c;
  width: 25px;
  height: 25px;
  font-size: 1em;
  text-align: center;
  color: #fff;
  font-weight: 700;
  padding-top: 2px;
}
.navBar {
  display: flex;
  width: 100vw;
  background-color: #000;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.items {
  display: flex;

  justify-content: space-between;
  text-align: center;
}
.items :hover {
  color: #e9b3c1;
  text-decoration: none;
  background-color: #307354;
}
.items p {
  color: #c2d7f2;
  width: 140px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 0.8em;
  margin: 0;
  padding: 4px 0;
  text-decoration: none;
}
.bajada {
  background-color: #307354;
  margin: 0;
  padding: 4px 11px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #c2d7f2;
}
